/JEnum/nbproject/private/
/JEnum/build/
/JEnum/dist/
/validacionRegistroEnum/nbproject/private/
/validacionRegistroEnum/build/
/validacionRegistroEnum/dist/
/ejemploJUnit/nbproject/private/
/ejemploJUnit/build/
/tallerTrabajador/nbproject/private/
/tallerTrabajador/build/
/tallerTrabajadorPractica/nbproject/private/
/tallerTrabajadorPractica/build/